body {
    font-family: Arial, sans-serif , Helvetica;
    background-image: url(../pexels-minan1398-853168.jpg);
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    position: relative;
}
.header {
    padding: 30px;;
    background:rgba(0, 0, 0, 0.5);
    margin-top: 3%;
    border-bottom: 4px solid goldenrod;
    border-top: 2px solid goldenrod;

}
.services ul{
    color: white;
    margin: 0;
    padding: 0;
    list-style:disc; 
    overflow: hidden;

}
div {
    display: block;
    margin: 0 auto;
    padding:20px;
    width: 50%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: white;
    font-size: 20px;
    box-shadow: 0 0 10px 0 #000;
    margin-top: 100px;
    border-bottom: 2px solid goldenrod;
}
footer {
    font-weight: bold;
    font-size: italic;
    padding:10px;

}
h4 {
    color:aqua;
    font-style: oblique;
}
.whyus {
    color: white;
    font-size: 20px;
    margin-top: 50px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #000;
    border-bottom: 2px solid goldenrod;
}




